{% extends 'BaseBackFinal.html.twig' %}
{% block body %}
    <h1>Reclamation <img  src="{{asset ('mes_rec.png')}}" alt="logo"width="300" height="200" ></h1>
    <div style="clear:both"></div>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-24">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">Affichage <img src="{{asset ('afficheicon.png')}}"width="50" height="50"></h4>
                          <a href="{{ path('trie') }}"><p class="card-category">{{ 'now'|date('h:i A','Africa/Tunis') }} <img src="{{asset ('trie.png')}}"width="30" height="30"> </p></a>
                            {{ knp_pagination_render (list1) }}
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-hover" id="t">
                                <thead class="text-warning">
                                <tr>
        <th>idrec</th>
        <th>Nom</th>
        <th>message</th>
        <th>object</th>
        <th>createAt</th>
    </tr>
                                </thead>
                                <tbody id="myTable">

    {% for i in list1 %}
        <tr>
            <td>{{i.idrec}}</td>
            <td>{{i.Nom}}</td>
            <td>{{i.message}}</td>
            <td>{{i.object}}</td>
            <td>{{i.createAt |date('d-m-Y H:i:s')}}</td>
            <td><a href="{{path('supp_reclamation',{'idrec':i.idrec})}}"style="color: indianred;">Supprime</a></td>
            <td><a href="{{ path('updatee',{'idrec':i.idrec}) }}" style="color: slateblue;">Modifier</a></td>

        </tr>
    {% endfor %}
</table>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                </table>
            </div>
        </div>
        </div>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

{% endblock %}
